footer {
  background-color: $secondary-color;
  .container {
    .footer-top {
      display: flex;
      justify-content: space-around;
      border-bottom: 1px solid $middle-gray;
      padding-top: 80px;

      .col {
        width: calc(100% / 3);
        padding-bottom: 50px;

        img {
          width: 80px;
        }

        h4 {
          color: $light;
          font-size: 0.9rem;
          text-transform: uppercase;
          font-weight: 700;
          letter-spacing: 1px;
        }

        ul {
          list-style: none;
          li {
            margin-bottom: 0;
            line-height: 1.5rem;
            text-align: left;
            a {
              font-size: 0.9rem;
              letter-spacing: 1px;

              &:hover {
                color: $primary-color;
              }
            }
          }
        }
      }

      .col + .col {
        padding-left: 50px;
        border-left: 1px solid $middle-gray;
      }

      .general-infos {
        display: flex;
        gap: 50px;
        min-width: 40%;
        justify-content: center;
        align-items: center;

        .adresse {
          margin-top: 20px;

          p,
          a {
            color: $light !important;
            text-align: left;
            line-height: 1.5rem;
          }
          strong {
            font-weight: 800;
          }
        }
      }

      .col_1 {
        a {
          &::before {
            content: ">";
            margin-right: 10px;
            color: $primary-color;
            font-weight: 500;
          }
        }
      }

      .rs_footer {
        min-width: 30%;
        p {
          color: $light;

          img {
            width: 30px;
          }
        }

        form {
          margin: 0;
          padding: 0;

          p {
            display: flex;

            input {
              width: 100%;
              border: none;
            }

            input[type="submit"] {
              width: 35%;
              color: #fff;
              background-color: $primary-color;
              border: none;
              text-transform: uppercase;
              letter-spacing: 1px;
              font-size: 0.9rem;
            }
            .wpcf7-spinner {
              width: 5%;
            }
          }
        }
      }
    }
  }

  .footer_middle {
    text-align: center;
    padding: 30px 0;
    width: 70vw;
    margin: auto;

    .keywords {
      p, 
      a {
        color: $primary-color;
        font-size: .8rem;
        font-weight: 400;
        line-height: .9rem;
        text-align: justify;

        strong {
          font-size: 0.9rem;
          font-weight: 200;
        }
      }
    }
  }

  .footer_bottom {
    background-color: $primary-color;

    .container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 25px 0;

      a {
        font-weight: 300;
        letter-spacing: 3px;
        font-size: 0.9rem;
      }

      p {
        color: $light;
        font-size: 0.8rem;
        letter-spacing: 1px;
        margin: 0;
        line-height: 1.2rem;
        text-align: center;

        strong {
          color: $light;
        }

        a {
          color: $light;
          font-weight: 600;
        }
      }
    }

    .mobile {
      display: none;
    }
  }
}
