@media screen and (max-width: 1024px) {
  #hero-container {
    height: 75vh;
    .swiper {
      .swiper-wrapper {
        .swiper-slide {
          position: relative;
          img {
            width: auto;
            max-width: inherit;
            height: 100%;
          }

          .content {
            position: absolute;
            left: 10vw;
            right: auto;
            margin-top: 200px;
          }
        }
      }
    }
  }

  .header {
    top: 100px;

    .col-g,
    .col-d {
      width: 50%;
    }
    

    .col-d {
      .secondary-navigation,
      .primary-navigation {
        display: none;
      }

      .hamburger-menu {
        display: block;
        width: 40px;
        margin-left: auto;
        margin-right: 0;


      }
    }
  }

  .megamenu {
    width: 100vw;
    height: 100vh;
    background-color: $primary-color;
    color: $light;
    transform-origin: right;
    transform: translateX(100vw);
    transition: all ease-in 300ms;
    position: fixed;
    z-index: 15;
    top: 0;
    display: block;

    .primary-navigation {
      position: absolute;
      bottom: inherit;
      display: flex;
      left: inherit;
      width: 100%;
      text-align: center;
      align-items: center;
      justify-content: center;
      height: 100%;


      ul {
        list-style: none;
        margin-top: 150px;

        li {
          text-align: center;
          margin-top: 20px;
          a {
            font-weight: 300;
            font-size: 2rem;
          }

          .sub-menu {
            display: none;
          }
        }

        li + li {
          margin-top: 20px;
        }

        .cta {
          background-color: #b52b43;
          border-radius: 30px;
          padding: 0;
          color: #fff;
          text-decoration: none;
          text-transform: capitalize;
          font-weight: 300;
          letter-spacing: 0;
        }
      }
    }
  }

  .active-menu {
    transform: translateX(0);
    opacity: 1;
  }

  .fixed {
    position: fixed;
    z-index: 16;

    .col-g{
      img{
        transition: ease-in 300ms;
        filter: invert(1) brightness(2);
      }
    }

    .col-d{
      svg{
        filter: invert(1);
        transition: ease-in 300ms;
      }
    }
  }

  #actualites {
    .container {
      .intro_actu {
        flex-direction: column;

        span{
          width: 100%;


          h2,
          p {
            width: 100%;
          }

          p {
            margin-top: 0;
            padding-top: 0;
          }
        }
      }

      .grid_articles {
        flex-direction: column;

        .card_article {
          width: 100%;

          .home-thumbnail {
            height: 250px;
            overflow: hidden;

            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }

          .metaData{
            font-size: .7rem;
            letter-spacing: 3px;
          }

          h3 {
            font-size: 2rem;
            line-height: 2.5rem;
          }

          &:last-child {
            margin-top: 0;
          }
        }
      }

      .view_more {
        margin-top: 100px;
      }
    }
  }

  #confiance {
    padding: 150px 0;
    .container {
      .table_qualite {
        flex-direction: column;

        .card_qualite {
          width: 100%;
        }

        .card_qualite + .card_qualite {
          border-left: 0;
          padding-left: 0;
        }
      }
    }
  }

  footer {
    .container {
      .footer-top {
        flex-direction: column;

        .general-infos{
          flex-direction: column;

          .adresse{
            p{
              text-align: center;
            }
          }
        }

        .col {
          width: 100%;
          padding-bottom: 30px;
        }

        .col-2{
          padding-left: 0 !important;

          h4{
            text-align: center;
            
          
          }

         ul{
          li{
            text-align: center ;
          }
         }
        }

        .col + .col {
          border-left: 0;
        }

        .rs_footer {
          display: flex;
          flex-direction: column;
          padding-left: 0!important;

          h4,
          p{
            text-align: center!important;
          }

          a + a {
            margin-left: 10px;
          }
        }
      }
    }

    .footer_middle{
      width: 80vw;
    }

    .footer_bottom {
      .desktop {
        display: none;
      }

      .mobile {
        display: block;

        .links {
          display: flex;
          justify-content: center;
          gap: 30px;
          margin-bottom: 20px;
        }
      }
    }
  }

  #aboutus {
    padding-bottom: 100px;

    .swiper-mobile {
      display: block;
      position: relative;
      margin: -50px 0 100px auto;
      z-index: 10;
      min-height: 200px;
      width: 90vw;

      .swiper-horizontal {
        touch-action: pan-x;
      }

      .swiper-resp,
      .swiper-nos {
        // margin-left: 5vw;

        .swiper-slide {
          margin: auto;
          min-height: 320px;
          width: 100%;
          position: relative;
          overflow-y: hidden;

          a {
            position: absolute;
            height: 100%;
            width: 100%;
            display: block;
          }

          h4 {
            color: $light;
            position: absolute;
            z-index: 10;
            bottom: 30px;
            left: 30px;
            top: auto;
            font-size: 2rem;
            font-weight: 600;
            text-shadow: 0px 0px 10px #000000a3;
          }

          &::before {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            background-color: transparent;
            transition: all ease-in-out 200ms;
            height: 400px;
          }

          &:hover {
            &::before {
              background-color: $hover-transparent;
            }
          }
        }
      }
    }

    .container {
      .grid {
        display: none;
      }

      .section-introduction{
        .cold{
          width: 90%;
        }
      }
    }

    .main-content {
      flex-direction: column;
      .col-g {
        width: 100%;
        img {
          margin-left: -15vw;
          height: 300px;
          min-height: auto;
          width: auto;
          max-width: inherit;
          bottom: -60px;
        }
      }

      .col-d {
        width: 100%;
        padding-top: 60px;
      }
    }
  }

  #mot_president {
    .container{
      .columns {
        flex-direction: column;

        .col-d,
        .col-g {
          width: 100%;
        }

        .col-g {
          h3{
            margin: 0 auto 50px;
          }

          img {
            margin-left: -15vw;
          }
        }

        .col-d {
          margin-top: 0  !important;
        }
      }
    }
  }

  #disclaimer {
    top: -50px;

    .container {
      width: 100vw;

      .box-content {
        top: 30%;
        background-color: #233342;
        width: 70%;
        height: auto;
        padding: 30px;
        left: 20px;
      }
    }
  }
  
  #section-cta-contact {
    height: inherit;

    .container {
      flex-direction: column;
      padding: 0;
      width: 80vw;

      .bloc_img {
        margin-top: 0;
        width: 100%;
      }

      .content_section-cta {
        z-index: 3;
        padding: 30px;
        width: calc(100% - 60px);
        max-height: inherit;
      }
    }
  }

  #popup_reference{
    z-index: 9999;

    .container_popup{
      .popup-content{
        flex-direction: column;

        .col_details{
          width: calc(100% - 4vw);
          height: 26vh;
          background-color: #fff;
          padding: 2vh 2vw;

          h2{
            font-size: 1.5rem;
            line-height: 1.8rem;
            margin: 10px auto;
        
          }
        }

        .col-slider{
          width: 100%;
          height: 60vh;
        }
      }
    }
  }

  .top_banner_header{
    height: 40px;

    p{
      letter-spacing: 3px;
      line-height: 1rem;
    }
  }

  #banner-fullwidth-dark {
    margin:auto;
    margin-bottom: 100px;
    width: calc(100% - 60px);
    padding: 30px;
  }

  #prix-compétitifs{
    padding-bottom: 50px;
    .container{
      gap: 30px;
      width: 90vw;

      .col-g{
        width: 30%;

        .content-img{
          margin-top: 0;
          margin-bottom: 0;
        }
      }

      .col-d{
        width: 70%;

        h2{
          font-size: 2.5rem;
          line-height: 2.5rem;
          font-weight: 300;
        }
      }
    }
  }

  #disclaimer_banner {
    .container {
      flex-direction: column;
      width: calc(90vw - 80px);
      padding: 40px;

      h4{
        font-size: .8rem;
        letter-spacing: 6px;
      }
      
      h3{
        font-size: 1.8rem;
        line-height: 2rem;
        margin-bottom: 50px;
      }

      .cta{
        left: auto;
        right: 30px;
        bottom: 30px;
        top: auto;
      }
    }
  }

  // A PROPOS
  .page-template-apropos{
    #header{
      height: 100px;
    }
    
    #introduction{
      .container{
        .colg{
          width: 100%;
        }
  
        .cold{
          padding-left: 10%;
          margin: 50px 0 100px;

          .intro{
            p{
              text-align: left;
            }
          }
        }
      }
    }
  
    #begin_entreprise{
        .container{
          flex-direction: column;
          width: 90vw;
          gap: 0;
  
          .colg{
            width: 100%;
  
            .swiper{
              position: relative;
              top: -50px;
              right: 0%;
              width: 100%;
              height: 500px;

              .swiper-wrapper{
                .swiper-slide{
                  height: 500px;
                }
              }
            }
  
          }
  
          .cold{
            background: #fff;
            width: 80%;
            padding: 50px 0px 100px 50px;
          }
        }
    }
  
    #section-coprod{
        background-color: #f7f8f9;
        padding: 100px 0 400px 0;
  
        .section_vosp{
          h3{
            letter-spacing: 5px !important;
            font-size: .8rem;
          }
        }
  
        
    }
  
    #service_particulier{
        background: linear-gradient(-90deg, transparent 80%, #fff 80%, #fff 20%, transparent 20%) !important;
        margin-top: -410px;
  
        .columns{
          gap: 50px;
          padding-bottom: 140px;
          flex-direction: column;
          border-bottom: 1px solid #f7f8f9;
  
          .colg{
            padding: 10px 40px;
            margin-top: 30px;

            h1{
              margin-bottom: 20px;
            }
          }
  
          .cold{
            .swiper-service{
              position: relative;
              top: auto;
              margin-right: 0;
              margin-left: auto;
              height: 500px;
  
              .swiper-wrapper{
                .swiper-slide{
                  height: auto;
                }
              }
            }
          }
        }
  
        .container{
          h2{
            margin: 0;
          }
        }
  
        .service-bottom{
          .container{
            .cold{
              flex-direction: column;
              width: 90%;
              gap: 50px;
  
              .col-0{
                margin-top:100px;
              }
            }
          }
  
          .img-separator{
            width: 100%;
            margin-bottom: 0;
          }
        }
    }
  
    #expert{
        background-color: #202024;
        padding: 100px 0;
        
        .container{
          width: 85vw;

          h2{
            text-align: justify;
          }

          .descr{
            width: 100%;
            margin: 30px auto;
          }
        }
    }
  
    #employes{
        padding-bottom: 100px;
  
        .container{
          grid-template-columns: repeat(1, 1fr);
  
          .card{
            height: auto;
            margin-top: 40px !important;
  
            .content-card{
              padding: 60px 70px;
  
              h4{
                font-size: 1.5rem;
                line-height: 2rem;
              }
  
              p{
                font-size: 2rem;
                line-height: 2rem;
                margin-bottom: 100px;
              }
            }
          }
        }
    }
  
    #references{
        .container{
          h3{
            font-size: 1rem;
            letter-spacing: 5px;
          }
        }
  
        .columns{
          gap: 20px;
  
          div{
            height: 280px;
          }
        }
    }
  
    #assurance {
        padding-top: 50px !important;
        padding-bottom: 50px;
        .container {
          .main-content {
            flex-direction: column;
  
            .col-g,
            .col-d {
              width: 100%;
            }
  
            .col-g {
              img {
                margin-top: 50px;
                bottom: 0;
                min-height: inherit;
              }
            }
  
            .col-d {
              padding-top: 50px;
            }
          }
        }
    }
  
    #statistiques {
        padding-top: 100px !important;
  
        h2 {
          margin: 50px auto !important;
          font-size: 2rem !important;
          line-height: 2.5rem;
        }
  
        .descr {
          padding-left: 0 !important;
        }
  
        .grid_stats {
          flex-wrap: wrap;
          .block_stat {
            width: calc((100% - 60px) / 2) !important;
          }
        }
    }
  
    #contact {
        padding-top: 150px !important;
  
        h2 {
          font-size: 2.5rem;
          line-height: 3rem;
        }
    }
  } 

  // CONSEILS

  .page-template-actualites{

    #introduction{
      padding-top: 200px;

      .container{
        .colg{
          width: 100%;

          h1{
            font-size: 3rem;
            line-height: 3.5rem;
          }
        }
        
        .cold{
          padding-left: 10%;
          padding-top: 80px;
        }

        .grid_articles{
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }

    #section-catalogue{
      .container{
        width: 80vw;
        flex-direction: column;
        margin: 0 auto;

        .bloc_img{
          width: 100%;
          height: 250px;
          margin: 0;
        }

        .content_section-cta{
          width: calc(100% - 60px);
          margin: 0;
          padding: 50px 30px;
        }
      }
    }

    #confiance{
      .container{
        .table_qualite{
          
          .card_qualite+.card_qualite {
            padding-left: 0;
          }
        }
      }
    }
  }

  #section-catalogue{
    .container{
      width: 80vw;
      flex-direction: column;
      margin: 0 auto;

      .bloc_img {
        width: 60%;
        height: 400px;
        margin: 0;
      
      }

      .content_section-cta {
        width: calc(70% - 60px);
        margin: 0;
        padding: 50px 30px;
        margin-left: 30%;
        margin-top: -220px;
        z-index: 100;
      }
    }
  }

  #confiance{
    .container{
      .table_qualite{
        
        .card_qualite+.card_qualite {
          padding-left: 0 !important;
        }
      }
    }
  }

  // Références 
  .page-template-references{
    #references{
      .container{
        .grid-references{
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }

    #introduction-ref{
      .container{
        .colg{
          width: 100%;
        }
      }
    }
  }

  //Blog
  .page-template-actualites #introduction .container .grid_articles, 
  .page-template-blog #introduction .container .grid_articles, 
  .page-template-conseils #introduction .container .grid_articles {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;

    .card_article{
      min-height: 400px;
    }
  }

  .archive.woocommerce-page{
    #banner-intro {
      height: 350px;

      .container{
        width: 85vw;

        h1{
          font-size: 3rem;
          line-height: 3rem;
        }

        p{
          font-size: .9rem;
          line-height: 1.5rem;
          margin-bottom: 0;
        }
      }

      .block-img{
        .clipped{
          height: 352px;
        }
      }
    }

    #confiance{
      .container{
        width: 80vw;

        .table_qualite {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          justify-items: center;
          gap: 40px;
  
          .card_qualite{
            width: 70%;
          }
        }
      }
      
    }
  }
}

/* CSS Mobile */
@media screen and (max-width: 768px) {
  .container {
    width: 90vw;
  }

  h1 {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  
  h2{
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  #section-catalogue {
    .container{
      .bloc_img {
        width: 100%;
      }
      .content_section-cta {
        width: calc(90% - 60px);
        margin: 0;
        padding: 50px 30px;
        margin-left: 10%;
        margin-top: -220px;
        z-index: 100;
      }
    }
  }

  // COMMUN

  #header {
    max-height: 300px;
  }

  .section_vosp .list-btn {
    display: flex;
    flex-direction: column;

    a {
      white-space: pre-wrap;
      line-height: 1rem;
      padding: 10px 20px;
    }
  }

  #presa_product {
    .content_service {
      padding-left: 0;

      p {
        text-align: left;
        line-height: 1.5rem;
      }
    }
    .list-btn {
      display: flex;
      flex-direction: column;

      a {
        line-height: 1.5rem;
        white-space: pre-wrap;
      }
    }
  }

  .page-template-actualites #introduction, 
  .page-template-blog #introduction, 
  .page-template-conseils #introduction {
    padding-top: 150px;
  }

  #simple-page .container .cold,
  #section_bleue .container .cold,
  #outro .container .cold {
    padding-left: 10%;
  }

  // FRONT-PAGE

  #hero-container {
    height: 80vh;
    .swiper {
      .swiper-wrapper {
        .swiper-slide {
          position: relative;
          img {
            width: auto;
            max-width: inherit;
            height: 100%;
          }

          .content {
            position: absolute;
            left: 10vw;
            right: auto;
            margin-top: 200px;

            h2{
              font-size: 2rem;
              line-height: 2rem;
            }
          }
        }
      }
    }
  }

  #section_nosproduits {
    padding-top: 150px;

    h3 {
      letter-spacing: 10px;
    }
  }

  #big_categories{
    .container{
      flex-direction: column;
      min-height: inherit;

      .colg{
        ul{
          .outline{
            font-size: 3rem;
            line-height: 2rem;
          }
        }
      }

      .cold{
        width: 100%;
        margin-top: 0;

        .panel{
          li{
            margin-bottom: 0;

            a{
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
  
  #nos_connaissances{
    .top_content{
      h3{
        letter-spacing: 5px;
      }
    }
  }

  #contact {
    .container {
      width: 80vw;
    }
  }

  // NOS SOLUTIONS

  .page-template-nosolutions {
    #intro_service {
      .container {
        .title_nos {
          width: 100%;

          h2 {
            font-size: 1rem;
          }

          h1 {
            font-size: 2.8rem;
            line-height: 3rem;
          }
        }
      }
    }
  }

  // SERVICES
  #intro_service {
    .container {
      .block_title {
        min-width: inherit;
        padding: 15px 30px;
      }

      .colg {
        width: 100%;
      }

      .cold {
        padding-left: 10%;
      }
    }
  }

  #nos_points_fort {
    .container {
      .content_service {
        padding: 100px 0 100px 10%;

        .card_pf {
          h4 {
            font-size: 1rem;
            line-height: 1.5rem;
          }

          p {
            text-align: left;
            line-height: 1.5rem;
          }
          ul {
            li {
              text-align: left;
            }
          }
        }
      }
    }

    #section-cta-contact {
      margin-bottom: 0px;
    }
  }

  // Page Références

  .page-template-references{
    #introduction-ref{
      padding-top: 150px;

      .container{
        .colg{
          h1{
            font-size: 3rem;
            line-height: 3.5rem;
          }
        }
        .cold{
          margin-top: 0;
        }
      }
    }
  }

  //Contact

  #modif {
    padding: 100px 0 !important;
  }

  #contact-content {
    padding-top: 200px !important;

    h1 {
      font-size: 2.7rem !important;
      line-height: 3.2rem !important;
    }
  }

  #contact-service {
    margin-top: 50px;
  }

  .page-template-informations #information .cold,
  .page-template-informations #section_bleue .cold,
  .page-template-informations #outro .cold {
    padding-left: 10%;
  }

  /* Page blog */

  .page-template-blog{
    #introduction{
      .container{
        .colg{
          width: 100%;
        }

        .cold{
          padding-left: 0;
        }
      }
    }
  }

  .single{
    #simple-page{
      padding-top: 200px;

      .container{
        .cold{
          padding-left: 10%;
          margin: 50px 0 100px;
        }
      }

      .img-separator{
        margin-right: 0;
        margin-left: auto;
        margin-bottom: -80px;
        width: 60vw;
        max-height: 600px;
      }
    }

    #expert{
      padding-bottom: 400px;

      .container{
        .descr{
          margin-left: auto;
          margin-right: 0;
          margin-top: 50px;
          width: 90%;
        }
      }
    }

    #mot_president{
      background: linear-gradient(90deg, #fff 85%, rgba(255, 255, 255, 0) 85%);
      margin-top: -320px;

      .container{
        .columns{
          .col-d{
            padding-top: 0;
          }
        }
      }
    }

    #service_particulier{
      margin-top: -300px;
      
      .container{
        flex-direction: column-reverse;

        .colg,
        .cold{
          width: 100%;
        }

        .cold{
          padding-left: 0;

          .swiper-service{
            margin:auto;
            margin-bottom: 80px;
            height: 450px;

            .swiper-wrapper{
              .swiper-slide{
                height: 450px;
              }
            }
          }
        }
      }
    }

    #begin_entreprise{
      padding-bottom: 0;

      .container{
        width: 90vw;
        margin: 0;
        flex-direction: column;
        gap: 40px;

        .colg{
          width: 100%;

          .swiper-about{
            position: relative;
            top: 0;
            right: -5%;
            width: 100%;
            height: 480px;
            left: 0;
          }
        }

        .cold{
          width: 90%;
          margin-right: 0;
          padding: 40px 0px 50px 0px;
          margin-left: auto;
        }
      }
    }

    #nextArticles{
      margin-top: 0;
      .container{
        .grid_articles{
          flex-direction: column;

          .card_article{
            width: 100%;
          }
        }
      }
    }

    #section_nosproduits{
      padding-top: 0;
    }
  }

  /* Woocommerce */

  //Page Archives 
  .archive.woocommerce-page{
    #banner-intro {
      min-height: 600px;
      height: auto;

      .container{
        width: 80vw;
        padding-right: 10vw;

        h1{
          font-size: 3rem;
          line-height: 3rem;
        }

        p{
          font-size: .9rem;
          line-height: 1.5rem;
          margin-bottom: 10px;
        }
      }

      .block-img{
        width: 20vw;

        .clipped{
          height: 100%;
          margin-top: 0;
        }

        svg{
          display: none;
        }
      }
    }

    #list-subcategory{
      .container{
        width: 80vw;
        grid-template-columns: repeat(1,1fr);
      }
    }

    #section-catalogue{
      .container{
        padding-top: 50px;
      }
    }

    #confiance{
      .container{
        width: 80vw;

        .table_qualite {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          justify-items: center;
          gap: 40px;
  
          .card_qualite{
            width: 70%;
            border: none;
          }
        }
      }
      
    }
  }

  .table_product{
    grid-template-columns: repeat(1 , 1fr);

    .card_product{
      a{

        h3{
          letter-spacing: 0 !important;
        }
      }
    }
  }
}


