#banner-intro{
    margin-top: 150px;
    height: 500px;
    display: flex;
    background-color: $dark-dark-gray;


    .container{
        width: calc(50% - 10vw);
        padding-left: 10vw;

        &::after{
            content:'';
            height: 100%;
            width: 80px;
            background-color: $dark-dark-gray;
        }

        h1,
        p{
            color: $light;
        }

        p{
            margin: 30px auto
        }
    }

    .block-img{
        width: 50%;
        position: relative;
        background-color: $dark-dark-gray;

        .svg {
            position: absolute;
            width: 0;
            height: 0;
          }
          .clipped {
            margin-top: -2px;
            width: 100%;
            height: 502px;
            background-size: cover;
            -webkit-clip-path: url(#my-clip-path);
            clip-path: url(#my-clip-path);
          }
    }
}

#list-subcategory{
    padding: 100px 0;
    .grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        text-align: center;

        .elem-subcategory{
            width: 100%;
            display: flex;
            gap: 20px;
            align-items: center;

            .thumbnails-subcat{
                background: $secondary-color;
                border-radius: 30px;
                height: 50px;
                width: 50px;
                overflow: hidden;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}