.archive.woocommerce-page{

#banner-intro{
    margin-top: 150px;
    height: 500px;
    display: flex;
    background-color: $dark-dark-gray;


    .container{
        width: calc(50% - 10vw);
        padding-left: 10vw;

        &::after{
            content:'';
            height: 100%;
            width: 80px;
            background-color: $dark-dark-gray;
        }

        h1,
        p{
            color: $light;
        }

        p{
            margin: 30px auto
        }
    }

    .block-img{
        width: 50%;
        position: relative;
        background-color: $dark-dark-gray;

        .svg {
            position: absolute;
            width: 0;
            height: 0;
          }
          .clipped {
            margin-top: -2px;
            width: 100%;
            height: 502px;
            background-size: cover !important;
            -webkit-clip-path: url(#my-clip-path);
            clip-path: url(#my-clip-path);
            background-repeat: no-repeat !important;
            background-position: right !important;
          }
    }
}

#list-subcategory{
    padding: 100px 0 50px;

    h2{
      margin-bottom: 100px;
      text-align: center;
    }
    
    .grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        text-align: center;

        .elem-subcategory{
            width: 100%;
            display: flex;
            gap: 20px;
            align-items: center;

            .thumbnails-subcat{
                background: $secondary-color;
                border-radius: 30px;
                height: 50px;
                width: 50px;
                overflow: hidden;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    &::after{
      content:'';
      width: 40%;
      margin: auto;
      background-color: $light-gray;
      height: 1px;
      display: block;
      margin-top: 80px;
    }
}

#list-product-subCategory{
    padding: 30px 0;
}

#confiance {
    background-color: $light;
    padding-top: 100px;

    .table_qualite {
      display: flex;
      gap: 50px;
      justify-content: space-around;
      margin-bottom: 80px;

      .card_qualite {
        width: 30%;
        text-align: center;

        h4 {
          font-weight: 700;
          font-size: 1.5rem;
          line-height: 1.8rem;
          color: $dark-gray;
        }

        p {
          color: $dark-gray;

          &::after {
            color: $dark-gray;
          }
        }
      }

      .card_qualite + .card_qualite {
        border-left: 1px solid $light-gray;
        padding-left: 50px;
      }
    }
  }
}



.woocommerce{
  .woocommerce-result-count{
    display: none;
  }

  .woocommerce-breadcrumb{
    width: fit-content;
  }

  .woocommerce-ordering{
    padding-top: 0;
    margin-top: -30px !important;
    margin-bottom: 50px !important;

    select{
      font-family: 'Sofia-pro',sans-serif;
      border-color: $light-gray;
      font-size: .9rem;
    }
  }

  .products{
    .product{
      box-shadow: 0px 5px 12px 2px rgb(0 0 0 / 9%);
      padding: 0 0 10px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      a{
        width: 100%;
        margin: auto;
      }

      .content-product{
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;

        .title{
          h3{
            text-align: center;
            color: $secondary-color;
            font-size: 1.2rem !important;
            letter-spacing: 0px;
            line-height: 1.3rem !important;
            display: block;
            min-height: 70px;
            font-weight: 600;
            padding: 0 20px;
          }

            
          &::after{
            margin: auto;
          }
        }
  
        .price{
          color: $primary-color !important;
          font-weight: 600;
          margin-top: 20px;
          font-size: 1rem !important;
          padding: 0 20px;
          text-align: center;
        }
  
        .add_to_cart_button,
        .product_type_variable{
          width: fit-content;
          margin: auto;
        }
      }
    }
  }

  nav{
    &.woocommerce-pagination{
      ul{
        li{
          a,
          span{
            color: $primary-color;

            &.current{
              background-color: $primary-color;
              color: $light;
            }
          }
        }
      }
    }
  }
}