#myaccount {
  padding-top: 300px;

  h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 300;
    margin-bottom: 50px;
  }

  .badge{
    color: $light;
    padding: 5px 10px 5px;
    border-radius: 15px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: .8rem;
    line-height: .8rem;
    margin-top: 4px;
    display: inline-block;
    width: fit-content;

    &.on-hold{
      background: orange;
    }

    &.completed{
      background-color: green;
    }

    &.cancelled{
      background-color: red;
    }
  }

  .woocommerce-MyAccount-navigation {
    columns: 2;
    gap: 50px;
    float: inherit;
    width: 100%;
    margin-top: 80px;

    ul {
      list-style: none;

      li {
        border: 1px solid $middle-gray;
        text-align: left;
        position: relative;

        a {
          color: $secondary-color;
          font-weight: 600;
          width: calc(100% - 2rem);
          height: 100%;
          padding: 2rem 1rem;
          display: block;

          &::after {
            content: "\f178";
            font-family: "Font Awesome 6 Free";
            position: absolute;
            right: 20px;
            color: $primary-color;
          }
        }

        &::after {
          content: "";
          width: 100%;
          height: 100%;
          background-color: $light-gray;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          transform: scaleX(0);
          transform-origin: right;
          transition: transform ease-in 0.5s;
        }

        &:hover::after {
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }
  }

  .woocommerce-MyAccount-content {
    float: inherit;
    width: 100%;
    margin-top: 50px;

    a {
      color: $primary-color;
      font-weight: 600;
    }

    .woocommerce-info {
      border-top-color: $primary-color;
      font-family: "sofia-pro", sans-serif;

      &::before {
        color: $primary-color;
      }
    }
  }

  .woocommerce-form,
  .woocommerce-EditAccountForm{
    input{
      border: none;
      border-bottom: 1px solid $light-gray;
    }

    label{
      font-weight: 600;
    }

    fieldset{
      margin: 30px auto;
      padding: 20px;

      legend{
        font-family: 'sofia-pro',sans-serif;
      }
    }

    .woocommerce-LostPassword{
      a{
        color:$light-gray;
        font-weight: 300;
      }
    }

    #btn_submit-wooform,
    .woocommerce-Button{
      justify-content: center;
      margin: 50px auto;

      button{
        border: none;
        background-color: $primary-color;
        color: $light;
        text-transform: uppercase;
        padding: 15px 40px;
        font-weight: 300;
        letter-spacing: 3px;
      }

      .cta-signup{
        padding: 15px 40px;
        text-transform: uppercase;
        font-weight: 300;
        color:$dark-gray;
        letter-spacing: 3px;
        transition: all ease-in-out 300ms;

        &::before{
          content:'>';
          color:$primary-color;
          margin-right: 20px;
        }

        &:hover{
          font-weight: 600;
        }
      }
    }
  }

  #notYetClient{
    gap:0;
    margin: 150px 0;

    .colg{
      width: 50%;
      .block-img{
        height: 700px;
        margin-top: 200px;
        overflow: hidden;

        img{
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }

    .cold{
      width: calc(55% - 100px);
      padding: 80px 50px;
      margin-left: -5%;
      background-color: $dark-dark-gray;
      height: fit-content;

      h2{
        color:$light;

        em{
          color:$primary-color;
        }
      }

      p{
        margin: 20px 0;
      }

      p,
      ul,
      li{
        color:$light;
        list-style-type: disc;
        text-align: left;
      }

      .cta{
        margin-top: 30px;
        color:$light;
      }
    }
  }

  .order-resume {
    p {
      margin-bottom: 0;
    }

    a {
      background-color: $primary-color;
      color: $light;
      padding: 0.5rem 3rem;
      text-transform: uppercase;
      font-weight: 200;
      letter-spacing: 3px;
      font-size: 0.9rem;
      margin-top: 30px;
      display: block;
      width: fit-content;
    }

    .col-d {
      .order-product {
        h3 {
          font-size: 1rem;
          line-height: 1rem;
          font-weight: 600;
        }

        .meta-data {
          margin-top: 20px;
        }
      }

      .order-product + .order-product {
        margin-top: 50px;
        padding-top: 50px;
        border-top: 1px solid $light-gray;
      }
    }
  }

  .order-resume + .order-resume {
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid $light-gray;
  }

  .woocommerce-order-details__title{
    margin-bottom: 50px;
  }

  .download_documents{
    p,
    a{
      text-align: right;
      margin-right: 0;
      margin-left: auto;
      display: block;
    }
  }

  .details_admin_order{
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;
    padding: 50px 0;
    margin-top:50px;

    .container{
      justify-content: space-between;

      h2{
        font-size: 1.3rem;
        font-weight: 600;
      }
    }
  }

  #resume_order_details{
    padding-top: 50px;
    padding-bottom: 100px;
    .container{
      justify-content: space-between;

      .cold,
      .colg{
        width: 50%;

        h2{
          font-size: 2rem;
        }

        h3{
          font-size: 1.3rem;
          font-weight: 600;

          span{
            font-weight: 200;
          }
        }

        .total,
        .card_product + .card_product{
          margin-top: 80px;
        }
      }
    }
  }
}
