.page-template-apropos {
  #header {
    height: 250px;
  }

  #introduction {
    .container {
      .colg {
        position: relative;
        z-index: 10;
        width: 50%;

        .intro {
          margin-top: 100px;

          h1 {
            font-size: 3rem;
            color: $secondary-color;
            font-weight: 300;
            line-height: 3.5rem;
          }
        }
      }
      .cold {
        padding-left: 20%;
        margin: 100px 0 150px;
      }
    }
  }

  #section-coprod {
    background-color: $light-gray;
    padding: 300px 0 450px 0;

    .section_vosp {
      margin-bottom: 0;

      h2 {
        strong {
          color: $secondary-color;
        }

        em {
          color: $secondary-color;
        }
      }

      h3 {
        margin-top: 50px;
        color: $middle-gray;
        text-transform: uppercase;
      }
    }
  }

  

  #employes {
    padding-bottom: 100px;
    margin-top: -100px;
    border-bottom: 1px solid $light-gray;

    .container {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 50px;
      justify-content: space-between;

      .card {
        background-color: $dark-gray;
        background-size: cover !important;
        background-position: center !important;
        //filter: grayscale(0);
        text-align: center;
        height: 520px;
        transition: all ease-in 300ms;
        grid-column: span 3;

        .content-card {
          opacity: 0;
          transition: all ease-in 300ms;
          padding: 120px 50px 0;
          width: calc(100% - 100px);
          height: calc(100% - 120px);

          h4 {
            color: $light;
          }

          .ballSep {
            width: 5px;
            height: 5px;
            border-radius: 5px;
            background-color: $light;
            display: block;
            margin: 20px auto;
          }

          p {
            color: $primary-color;
            font-weight: 800;
            font-size: 2.2rem;
            line-height: 2.2rem;
            text-align: center;
            margin-bottom: 90px;
            min-height: 60px;
          }

          a {
            text-transform: uppercase;
            letter-spacing: 2px;
          }
        }

        &:hover {
          //filter: grayscale(1);

          .content-card {
            opacity: 1;
            background-color: rgba(0, 0, 0, 0.8);
          }
        }
        &.-center {
          margin-top: 50px;
        }

        &:first-child{
          grid-area: 1 / 2 / 2 / 4;
        }
        &:nth-child(2){
          grid-area: 1 / 4 / 2 / 6; 
        }
      }

      .custom{
        grid-column : span 2;
      }
    }
  }

  #references {
    padding: 100px 0 0;

    .container {
      h3 {
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: 10px;
        color: $dark-gray;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px;
      }

      h2 {
        text-align: center;
        color: $primary-color;

        strong {
          color: $dark-dark-gray;
        }
      }

      .cta {
        margin: 80px auto 20px;
        display: block;
        width: fit-content;
      }
    }

    .columns {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 50px;

      div{
        height: 700px;

        a{
          height: 100%;

          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .-right {
        img{
          margin-top: 150px;
        }
      }
    }
  }

  #contact {
    background-color: $light !important;
    padding-top: 0px;
  }

  #disclaimer_banner {
    padding-top: 0px;
  }
}
