.page-template-catalogues{
    #banner_header{
        width: 100vw;
        height: 400px;
        background-size: cover !important;
    }

    #catalogues-section{
        padding: 100px 0;
    }
}