#hero-container {
  height: 85vh;
  top: 0;
  left: 0;
  overflow: hidden;

  .swiper-hero {
    .swiper-wrapper {
      overflow: hidden;

      .swiper-slide {
        height: 90vh;

        img {
          position: absolute;
          z-index: 0;
          filter: brightness(50%);
          width: 100%;
        }

        .content {
          position: relative;
          margin-top: 200px;
          left: 5vw;
          z-index: 1;

          p {
            text-transform: uppercase;
            color: $light;
            letter-spacing: 3px;
          }

          h2 {
            color: $light;
            text-transform: uppercase;

            strong {
              font-weight: 800;
            }
          }

          .cta {
            margin-top: 4rem;
            letter-spacing: 3px;
            font-size: 0.9rem;
            display: block;
            max-width: fit-content;
          }
        }
      }
    }

    .swiper-button {
      color: $light;
      position: absolute;
      right: 5vw;
      left: auto;
      border: 1px solid $light;
      width: 50px;
      height: 50px;
      border-radius: 25px;
      text-align: center;

      &::after {
        font-size: 1.2rem;
        margin: auto;
      }
    }

    .swiper-button-prev {
      margin-top: -80px;
    }

    .swiper-pagination {
      position: absolute;
      right: 0;
      left: auto;
      top: 50%;
      width: 40px;
      gap: 10px;
      height: auto;
      display: flex;
      flex-direction: column;

      .swiper-pagination-bullet {
        border: 2px solid $light;
        background: none;
      }

      .swiper-pagination-bullet-active {
        background-color: $light;
      }
    }
  }
}

#aboutus {
  .container {
    .swiper-content {
      position: relative;
      z-index: 10;
      min-height: 200px;
      margin: auto;
      top: -100px;
      margin-bottom: 50px;

      .swiper-horizontal {
        touch-action: pan-x;
      }

      .swiper-resp {
        .swiper-slide {
          overflow: hidden;
          height: 400px;
          cursor: pointer;

          a{
            display: block;
            padding: 40px;
            width: calc(100% - 80px);
            height: calc(100% - 80px);

            h4 {
              color: $light;
              position: absolute;
              z-index: 10;
              top: auto;
              font-size: 2rem;
              font-weight: 600;
              bottom: 40px;
              text-shadow: 0px 0px 10px #000000a3;
            }
          }

          

          &::before {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            background-color: transparent;
            transition: all ease-in-out 200ms;
            height: 100%;
          }

          &:hover {
            &::before {
              background-color: $hover-transparent;
            }
          }
        }
      }

      .section_nav {
        position: relative;

        .swiper-button-prev,
        .swiper-button-next {
          top: 50px;
        }
      }
    }
  }
}

#section_nosproduits {
  padding-top: 100px;

  button {
    background-color: $light;
    font-family: "sofia-pro", sans-serif;

    &:hover {
      background-color: $primary-color;
      color: $light;
    }
  }

  button + button {
    margin-left: 20px;
  }
}

#mot_president {
  background-color: $light;
  width: 100vw;
  animation: slide-to-top 500ms;

  .container {
    padding-bottom: 100px;
    border-bottom: 1px solid $light-gray;

    .col-g {
      h3 {
        margin: 200px auto 50px auto;

        strong {
          font-weight: 700;
        }
      }
      p {
        em {
          color: $primary-color;
          text-align: right;
          font-style: italic;
        }
      }

      p:has(em) {
        text-align: right;
      }
    }

    .col-d{
      .swiper{
        .swiper-slide{
          height: auto;
        }
      }
    }
  }
}

#big_categories {
  padding: 100px 0 0;
  .container {
    display: flex;
    gap: 50px;
    min-height: 750px;

    .colg {
      width: 65%;
      ul {
        list-style: none;

        .outline {
          text-transform: uppercase;
          color: transparent;
          font-size: 5rem;
          line-height: 4rem;
          font-weight: 800;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: $primary-color;
          cursor: pointer;
          margin-bottom: 20px;
        }

        .outline.active {
          color: $primary-color;
        }
      }
    }

    .cold {
      margin-top: auto;
      margin-bottom: 0;
      width: 35%;

      .panel {
        display: none;
        list-style: none;

        li {
          font-size: 2rem;
          cursor: pointer;
          margin-bottom: 10px;

          a {
            font-size: 2rem;
            color: black;
            font-weight: 300;
            transition: all ease-in 300ms;

            &:hover {
              font-weight: 800;
            }
          }
        }
      }

      .panel1 {
        display: block;
      }
    }

    .cta {
      border-radius: 0;
      margin-top: 80px;
      display: block;
      max-width: 150px;
      text-align: center;
    }
  }
}

#confiance {
  background-color: $dark-dark-gray;
  padding: 250px 0 100px 0;

  .container {
    text-align: center;

    h2 {
      font-weight: 200;
      color: $secondary-color;

      strong {
        font-weight: 700;
      }
    }

    p {
      margin: 50px auto;
      text-align: center;
      font-weight: 400;
      color: $dark-gray;
    }

    .table_qualite {
      display: flex;
      gap: 50px;
      justify-content: space-around;
      margin-bottom: 80px;

      .card_qualite {
        width: 30%;
        text-align: center;

        h4 {
          font-weight: 700;
          font-size: 1.5rem;
          line-height: 1.8rem;
          color: $light;
        }

        img {
          color: $primary-color;
        }

        p {
          margin: 30px auto 10px auto;
          display: block;
          color: $light;

          &::after {
            content: "→";
            color: $light;
            display: block;
            margin-top: 10px;
          }
        }

        img {
          max-width: 80px;
          height: inherit;
          object-fit: cover;
          margin: auto;
          margin-bottom: 30px;
        }

      &:first-child{
        img{
          padding-top: 20px;
          padding-bottom: 10px;
        }
      }
      }

      .card_qualite + .card_qualite {
        border-left: 1px solid $dark-gray;
        padding-left: 50px;
      }
    }

    .cta {
      border-radius: 0px;
      letter-spacing: 5px;
      font-size: 0.9rem;
      text-align: center;
      margin: auto;
    }
  }
}

#disclaimer {
  position: relative;
  top: -300px;

  .container {
    width: 80vw;
    position: relative;
    margin-right: 0;
    margin-left: auto;
    height: 600px;

    img {
      max-height: 100%;
      text-align: right;
      margin-right: 0;
      margin-left: auto;
    }

    .box-content {
      position: absolute;
      top: 15%;
      background-color: $secondary-color;
      width: calc(50% - 100px);
      height: calc(70% - 100px);
      padding: 50px;

      h3 {
        color: $light;
        font-weight: 300;

        strong {
          font-weight: 700;
        }
      }

      p {
        color: $light;
        margin: 30px auto;
      }
    }
  }
}

#nos_connaissances {
  .columns {
    .colg,
    .cold {
      width: 50%;
    }

    .colg {
      padding-top: 120px;

      img {
        position: relative;
        bottom: -100px;
        z-index: 10;
      }
    }

    .cold {
      p {
        margin: 50px 0;

        &:first-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

#prix-compétitifs {
  .col-g {

    .content-img{
      margin-top: 230px;
      margin-bottom: -150px;
      display: block;
      height: 650px;
      width: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .col-d {
    h2 {
      margin-bottom: 50px;
    }

    a {
      margin-top: 50px;
    }
  }
}

#actualites {
  background-color: $light-gray;
  .container {
    padding: 100px 0;
    border-bottom: 1px solid $middle-gray;

    .intro_actu,
    .grid_articles {
      display: flex;
      gap: 50px;
    }

    .intro_actu {
      margin-bottom: 50px;

      span {
        width: 50%;

        h2 {
          color: $secondary-color;
        }
        p {
          padding-top: 60px;
        }
      }
    }

    .grid_articles {
      .card_article {
        width: 50%;
        
        .home-thumbnail{
          height: 600px;

          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .metaData {
          .puntSep {
            color: $primary-color;
            margin: 0 20px;
          }

          a,
          p {
            color: $middle-gray;
            text-transform: uppercase;
            letter-spacing: 5px;
            font-size: 0.9rem;
          }
        }
        h3 {
          font-weight: 800;
          color: $secondary-color;
          margin-bottom: 30px;
        }
        &:last-child {
          margin-top: 100px;
        }
      }
    }

    .view_more {
      text-align: center;
      margin-top: 100px;

      .cta {
        margin: auto;
        padding: 10px 100px;

      }
    }
  }
}

#statistique {
  margin-top: -600px;
  padding-top: 500px;
  background: $light-gray;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .col-g {
      width: 60%;
      padding-top: 150px;

      .product_front {
        display: flex;
        gap: 30px;
        padding: 30px;
        background: #fff;
        box-shadow: 0px 0px 18px 2px rgb(0 0 0 / 20%);
        margin-bottom: 30px;

        img {
          width: 60px;
        }

        .txt {
          h4 {
            font-size: 1.2rem;
            font-weight: 600;
          }
        }
      }
    }

    .col-d {
      width: 30%;

      .block_stats {
        padding: 30px;
        border: 1px solid $dark-gray;

        img {
          margin-left: -100px;
          position: absolute;
        }

        span {
          margin-top: 150px;
          display: block;

          p {
            text-align: left;
            color: $primary-color;
            font-size: 1.5rem;

            em {
              font-size: 1rem;
              color: $middle-gray;
            }
          }
        }
      }

      .getOffre {
        margin-top: 30px;
        background-color: $secondary-color;
        padding: 30px;

        h3 {
          color: $primary-color;
          font-size: 2rem;
          line-height: 2.3rem;

          strong {
            color: $light;
          }
        }

        p {
          color: $light;
          margin: 20px 0;
        }

        a {
          text-transform: uppercase;
          font-weight: 700;
        }
      }
    }
  }
}

#contact {
  background-color: $light-gray !important;
}
